<h2>Forgot your password?</h2><br>

<form accept-charset="UTF-8" action="#" {{action "resetPassword" on="submit" target="Base.passwordController"}}
  class="new_user" id="new_user" method="post">

  {{view "Bootstrap.Forms.TextField"
          label="email" valueBinding="Base.passwordController.email"}}

  <div><input name="commit" type="submit" value="Send me reset password instructions"></div>
</form>
  <a href="#" {{action "signIn" target="Base.passwordController"}}>Sign in</a><br>
  <a href="/users/auth/facebook">Sign in with Facebook</a><br>
