<li class="dropdown menu">
  <a class="dropdown-toggle" href="#" data-toggle="dropdown">{{Base.currentUser.email}} <b class="caret"></b></a>
  <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                This is where the account menu goes
  </div>
</li>
