<li id="account_menu" class="dropdown menu">
  <a class="dropdown-toggle" href="#" data-toggle="dropdown">{{Base.currentUser.email}} <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><a href="#" {{action "showAccount" target="Base"}}>My Account</a></li>
    <li class="divider"></li>
    <li><a href="#" {{action "signOut" target="Base"}}>Sign Out</a></li>
  </ul>
</li>
